<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	testdox="true"
	failOnRisky="true"
	failOnWarning="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="Lumen WP">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<const name="WP_TESTS_PHPUNIT_POLYFILLS_VERSION" value="2.0" />
		<ini name="display_errors" value="1" />
	</php>
</phpunit>
